{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="60">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Инфо'</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
    <body>
        <div class="main">
        <h1>Подключенное устройство</h1>
        <div class="inf-grid">
            <div class="inf-gdir-item-com">
                <h2>Общие сведения</h2>
                <div class="inf-gdir-child">
                    <h4>Серийный номер:</h4>
                    {% for i in all %}
                        <p>{{i.serial}}</p>
                    {% endfor %}
                </div>
                <div class="inf-gdir-child">
                    <h4>Глубина:</h4>
                    {% for i in get %}
                        <p>{{i.depth}} м</p>
                        {% endfor %}
                    </div> 
                <div class="inf-gdir-child">
                    <h4>Номер IMEI:</h4>
                    {% for i in all %}
                        <p>{{i.imel}}</p>
                    {% endfor %}
                </div>
                <div class="inf-gdir-child">
                    <h4>Мощность:</h4>
                    {% for i in get %}
                        <p>{{i.power}} %</p>
                    {% endfor %}
                </div>
                <div class="inf-gdir-child">
                    <h4>Имя устройства:</h4>
                    {% for i in all %}
                        <p>{{i.name}}</p>
                    {% endfor %}
                </div>
                <div class="inf-gdir-child">
                    <h4>Статус:</h4>
                    {% for i in get %}
                        <p>{{i.status}}</p>
                    {% endfor %}
                    </div>
                <div class="inf-gdir-child">
                    <h4>Тип устройства:</h4>
                    {% for i in all %}
                        <p>{{i.type}}</p>
                    {% endfor %}
                </div>
           
                
        </div>
        <div class="but">
            <form action="chart" target="_blank">
                <button>график</button>
            </form>
        </div>
        </div>
        <!-- <div class="but">
            <form action="adjust" target="_blank">
                <button>уставки</button>
            </form>
        </div> -->
    </body>
</html>

    

